<HEAD><TITLE>Animation Techniques in BRL-CAD</TITLE></HEAD>
<BODY>
<H1>Animation Techniques in BRL-CAD</H1>
<H2><A HREF="http://ftp.arl.mil/~butler/">Lee A. Butler</A>,
<A HREF="Murdza.html">Christine Murdza</A><br>
<A HREF="http://info.arl.army.mil/">U. S. Army Research Laboratory</A></H2>
<H5>ARL TR-313, December, 1993</H5>
<H5>An archive of this entire document is available as<br>
ftp://ftp.arl.mil/brl-cad/anim_tut_html.tar.gz</H5>

<hr>
<UL>
<LI> <A HREF="chapt0.html#Abstract">Abstract</A>
</UL>
<OL>
<LI> <A HREF="chapt1.html#Introduction">Introduction</A>
	<UL>
	<LI> <A HREF="chapt1.html#Preliminaries">Preliminaries</A>
	</UL>
<LI> <A HREF="chapt2.html#Simple Camera Motion">Simple Camera Motion</A>
	<UL>
	<LI> <A HREF="chapt2.html#Key Frames">Key Frames</A>
	<LI> <A HREF="chapt2.html#Generating Key Frames with MGED">Generating Key Frames with MGED</A>
	<LI> <A HREF="chapt2.html#Key Frame Interpolation">Key Frame Interpolation</A>
	<LI> <A HREF="chapt2.html#Building the RT Animation Script">Building the RT Animation Script</A>
	<LI> <A HREF="chapt2.html#Previewing Animations with MGED">Previewing Animations with MGED</A>
	<LI> <A HREF="chapt2.html#Creating Postage Stamp Animations">Creating Postage Stamp Animations</A>
		<A HREF="moss.mpg"><IMG align=top SRC="film.gif"></A>
	</UL>
<LI> <A HREF="chapt3.html">Object Motion</A>
	<UL>
	<LI> <A HREF="chapt3.html#Matrix Manipulations">Matrix Manipulations</A>
	<LI> <A HREF="chapt3.html#The RT Matrix Operations for Animation">The RT Matrix Operations for Animation</A>
	<LI> <A HREF="chapt3.html#Preparing an Animation with Motion">Preparing an Animation with Motion</A>
		<A HREF="ell.mpg"><IMG align=top SRC="film.gif"></A>
	</UL>
<LI> <A HREF="chapt4.html">Making Frames for Videotape</A>
	<UL>
	<LI> <A HREF="chapt4.html#Frame Rate">Frame Rate</A>
	<LI> <A HREF="chapt4.html#Video Tape Formats">Video Tape Formats</A>
	<LI> <A HREF="chapt4.html#Image Size and Quality">Image Size and Quality</A>
	<LI> <A HREF="chapt4.html#Image Aspect Ratio">Image Aspect Ratio</A>
	<LI> <A HREF="chapt4.html#Color Selection">Color Selection</A>
	<LI> <A HREF="chapt4.html#Computational Requirements">Computational Requirements</A>
	<LI> <A HREF="chapt4.html#Storage Requirements">Storage Requirements</A>
	</UL>
<LI> <A HREF="chapt5.html#Computing Video Frames">Computing Video Frames</A>
<LI> <A HREF="chapt6.html#Recording Videotape">Recording Videotape</A>
<LI> <A HREF="chapt7.html#Conclusion">Conclusion</A>
</OL> 
<UL>
<LI> <A HREF="chapt8.html">Bibliography</A>
<LI> <A HREF="chapt9.html#Appendix A">Appendix A</A>
<LI> <A HREF="chapt9.html#Appendix B">Appendix B</A>
</UL>
<hr>
<A HREF="../index.html">Up</A>
<br>butler@arl.mil
</BODY>
