<HEAD><TITLE>Animation Techniques in BRL-CAD</TITLE></HEAD>
<BODY>
For a discussion of modeling and raytracing within BRL-CAD, see:
<P>
M. Muuss, <I>``Understanding the Preparation and Analysis of Solid
Models''</I>, in <I>``Techniques for Computer Graphics'',</I> ed: Rogers &
Earnshaw, Springer Verlag, New York, pages 109-172.
<p>
Also in <I>``The Ballistic
Research Laboratory CAD Package Release 4.0 Manuals, Volume V, Analyst's Manual''</I>
Page V5S08A05.
<P>
For a discussion of the rt lighting model see:
<p>
M. Muuss and P. Dykstra,
<I>``The RT Lighting Model''</I>.  
in <I>Proceedings of the BRL-CAD Symposium '88,</I>
held at the Ballistic Research Laboratory, Aberdeen Proving Ground, Maryland, 
June 28, 1988.
<p>
Also in 
<I>``The Ballistic
Research Laboratory CAD Package Release 4.0 Manuals, Volume V, Analyst's Manual''</I>
Page V5S10A03.
</BODY>
